@import './styles/forms';

body{
    background: rgb(254, 250, 224);
    // background: linear-gradient(0deg, rgba(6,20,85,1) 0%, rgba(118,146,186,1) 100%);
    // color: white;
    // background-image: url('./assets/arasur0jjdbqabgl69xr.png');
    background-blend-mode: difference;
    height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: "Syncopate", "Courier New", monospace;     
}

h1{
    color: black;
    font-size: 1.6rem;
}

.navbar{
    color: white;
    align-items: center;
    display:flex;
    background: #3A5A40;
    height: 3rem;
    justify-content: space-between;
    .heading{
        color: white;
    }
    img{
        padding:1rem 0 1rem 0;
        height:3rem;
        width:3rem;
    }
.navbar-nav{
    display: flex;
    padding: 1rem 1.2rem;
    .navbar-item{
        font-size: 1rem;
        padding: 25px;
        text-align: -webkit-center;
        padding: 1rem 1.5rem ;
        display:flex;
        justify-content: left;
        &:hover{
            color: white;
            background-color: rgb(88, 129, 87);
            border-radius: 20px;
            font-size: 1rem;
            // transform: scale(1);
            // transition: transform .2s, .2s width .2s cubic-bezier(1, -0.16,0 ,1.32);
        }
    }
}
        &:hover{
            // height:5rem;
        }
}

.about{
    display: flex;
    justify-content: center;
    align-items:center;
    .aboutSection{
    display: flex;
    flex-direction: column; 
        justify-content: center;
        align-items:center;
        // h1{
        //     margin-top: 10rem;
        //     margin-left: 6rem;
        // }
        // h3{
        //     margin-top: 1rem;
        //     margin-left: 6rem;
        // }
    }
.gradient{
    // height:20rem;
    width:20rem;
    padding: 0%;
    margin: 20rem 30rem;
    background-color: rgb(215, 231, 124);
    border-radius: 50%;
    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    align-items:center;
    @media (max-width:1600px){
            margin: 19rem 65rem;
    }
    @media (max-width:1200px){
        margin: 12rem 36rem;
}
@media (max-width:600px){
    margin: 9rem 27rem;
}
    //  img{
    //      height: 18rem;
    //      width: 20rem;
    //       &:hover{
    //         height: 26rem;
    //         width: 32rem;
    //         margin: -1rem -5rem;
    //         transition:all 0.3s;
    //       }
    //  }
}
}

.MuiButton-text {
    padding : 6px 50px ;
}

.footer{
    width: 100%;
    // background-color: rgb(215, 231, 124);
    height: 10rem;
    color:white;
    font-size:2rem;
    font-weight: bolder;
    text-align:center;
}


@media (max-width:1200px){
    html {
        font-size: 100%;
    }
}

@media (max-width:900px){
    html {
        font-size: 75%;
    }
}


@media (max-width:600px){
    html {
        font-size: 50%;
    }
}

.same-width{
        width: 16em;
}

.form-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: rgb(204, 213, 174);
    padding:1rem;
    border-radius: 1px;
}
.form-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card{
    margin-top:1rem;
  }
.landing_imp{
    // height:5rem;
    // width: 5rem;
    display:flex;
    justify-content: center;

   .landing_imp_card{
    // background-color: rgb(204, 213, 174);
    // background-color: rgb(215, 231, 124);
    // background-color: rgb(88, 129, 87);
    background: #3A5A40;
   }
   .landing_imp_content{
    background-color: rgb(204, 213, 174);
        // background-color: rgb(215, 231, 124);
        // background-color: rgb(88, 129, 87);
   }
}
.container{
    padding:5rem 0rem 0rem 0rem;
}
//   .button submit{
//     margin-top:10px;
//   }